services:
  rabbit:
    image: rabbitmq:3.13-management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - rabbitmq_network

  accounts:
    image: "salmasherif856807/accounts-ms:v1"
    container_name: accounts-service
    depends_on:
      - rabbit
    environment:
      SPRING_RABBITMQ_HOST: "rabbit"
    networks:
      - rabbitmq_network
    ports:
      - "8084:8084"

  message:
    image: "salmasherif856807/message-ms:v1"
    container_name: messaging-service
    depends_on:
      - rabbit
    environment:
      SPRING_RABBITMQ_HOST: "rabbit"
    networks:
      - rabbitmq_network
    ports:
      - "8090:8090"

networks:
  rabbitmq_network:
    driver: bridge
