server:
  port: 8081
spring:
  application:
    name: "accounts"
  cloud:
    function:
      definition: updateAccount
    stream:
      bindings:
        updateAccount-in-0:
          destination: communication-sent
          group: ${spring.application.name}
        sendCommunication-out-0:
          destination: send-communication
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    connection-timeout: 10s
